body,html{
    background-color: rgba(149, 202, 186, 0.678);
    margin: 0%;
}

header{
    background-color: rgb(20, 87, 78);
}

h1{
    color: rgb(255, 248, 252);
    font-size: 300%;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    padding-top: 1%;
    margin-bottom: auto;
    margin-left: 1%;
    
}

h3{
    color: rgb(223, 202, 213);
    font-size: 100%;
    text-align: left;
    position: relative;
    padding-bottom: 1%;
    margin-left: 1%;
}

td{
    color: rgb(78, 28, 12);
    background-color: rgb(212, 136, 136);
    text-align: center;
    font-family:fantasy;
    border-color:rgb(20, 87, 78) ;
    border-width: 1px;
    border-style: solid;
}

tr{
    height: 20vh;
}

tr :nth-child(even){
    background-color: rgb(204, 141, 117);
}

a{
    text-decoration: none;
    color: rgb(78, 28, 12);
}

table{
    border-color:rgb(20, 87, 78) ;
    width: 100%;
    border-style:solid;
    background-color:rgb(20, 87, 78) ;
}

footer{
    background-color: rgb(20, 87, 78);
    color: aliceblue;
    font-size: 70%;
    height:7%;
    padding: 0.5%;
    text-align: right;
    margin-top: 3%;
}